<div class="container mounts">
    <div class="panel">
        <h1>Mounts</h1>
    </div>

    <div class="row">
        <div class="col-md-5">
            <button type="button" ng-class="{active: current == 1}" class="btn btn-block btn-default btn-lg" ng-click="setCurrent(1); section='token'">Work</button>
            <button type="button" ng-class="{active: current == 2}" class="btn btn-block btn-default btn-lg" ng-click="setCurrent(2); section='localUser'">Home</button>
        </div>
        <div class="col-sm-7">


        </div>
    </div>
</div>